body {
    margin: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.tile {
    width: 3rem;
    height: 3rem;
    border: 1px solid darkgray;
}

.food-tile {
    background-color: #da6255;
}

.snake-tile {
    background-color: #bada55;
}

.game-over .food-tile {
    background-color: transparent;
}

.game-over .snake-tile {
    background: #1d1f1d url("./skull.svg") center/80% no-repeat;
}
